$salveMundi-primary: #663265;
$salveMundi-light: #864485;
$salveMundi-link: #BA5EB8;
$salveMundi-opacity: rgba(186, 94, 184, 0.2);
$salveMundi-opacity2: rgba(186, 94, 184, 0.5);
$salveMundi-dark: #39203B;
